<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-262">
    <div class="cs-container">
        <div class="cs-left-section">
            <h2 class="cs-title">Schedule Your Appointment Today!</h2>
            <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-button-solid">Book Now</a>
        </div>
        <div class="cs-content">
            <span class="cs-header">Available Hours</span>
            <p class="cs-p"> 
                Mon-Fri: 10am-5pm<br>Sat-Sun: Closed
            </p>
        </div>
        <picture class="cs-background">
            <!--Mobile Image -->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cta-1.jpg" | resize({width: 576, height: 852}) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cta-1.jpg" | resize({width: 576, height: 852}) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cta-1.jpg" | resize({width: 576, height: 852}) | jpeg %}" type="image/jpeg">
            <!--Tablet Image -->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cta-1.jpg" | resize({width: 1280, height: 391}) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cta-1.jpg" | resize({width: 1280, height: 391}) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cta-1.jpg" | resize({width: 1280, height: 391}) | jpeg %}" type="image/jpeg">
            <!--Desktop Image -->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cta-1.jpg" | resize({width: 1280, height: 391}) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cta-1.jpg" | resize({width: 1280, height: 391}) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cta-1.jpg" | resize({width: 1280, height: 391}) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/cta-1.jpg" | resize({width: 1280, height: 391}) | jpeg %}" alt="shop" width="1280" height="391" loading="lazy" decoding="async" aria-hidden="true">
        </picture>
    </div>
</section>
                                