<section id="why-choose-1634">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Why Choose Us</span>
                <h2 class="cs-title">Why Choose Beauty Royal House</h2>
            </div>
            <p class="cs-text">
                At Beauty Royal House, we're dedicated to providing professional beauty treatments in a peaceful, private setting. Our experienced home salon offers the perfect blend of expertise and comfort, making every treatment a relaxing experience. Discover the difference of our personal approach to beauty care, where attention to detail and client comfort are our priorities.
            </p>
        </div>  
        <div class="cs-wrapper">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon"
                                src="/assets/svgs/accept.svg"
                                loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Private and Peaceful Environment</h3>
                        <p class="cs-item-text">
                            Our home-based salon offers a calm, private space away from busy high street salons, with free parking and easy access.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" src="/assets/svgs/accept.svg"
                                loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Experienced Professional Care</h3>
                        <p class="cs-item-text">
                            With over a decade of beauty industry expertise, we deliver consistent, high-quality treatments in a welcoming setting.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon"
                                src="/assets/svgs/accept.svg"
                                loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Accessible To All Clients</h3>
                        <p class="cs-item-text">
                            Our ground-floor salon welcomes everyone, with special consideration for clients with mobility needs and those who prefer a more private setting.
                        </p>
                    </div>
                </li>
            </ul>
            <div class="cs-image-group">
                <div class="cs-picture-wrapper">
                    <picture class="cs-picture cs-picture1">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/why-us.jpg" | resize({width: 470, height: 404}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/why-us.jpg" | resize({width: 470, height: 404}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/why-us.jpg" | resize({width: 470, height: 404}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/why-us.jpg" | resize({width: 868, height: 828}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/why-us.jpg" | resize({width: 868, height: 828}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/why-us.jpg" | resize({width: 868, height: 828}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/why-us.jpg" | resize({width: 868, height: 752}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/why-us.jpg" | resize({width: 868, height: 752}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/why-us.jpg" | resize({width: 868, height: 752}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/why-us.jpg" | resize({width: 868, height: 828}) | jpeg %}" alt="shop and owner" width="434" height="376" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <div class="cs-box">
                        <span class="cs-header">GET 15% OFF</span>
                        <span class="cs-desc">Applies to all over 65s </span>
                    </div>
                </div>
                <picture class="cs-picture cs-picture2">
                    <!--Mobile Image -->
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/why-us-2.jpg" | resize({width: 200, height: 200}) | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/why-us-2.jpg" | resize({width: 200, height: 200}) | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/why-us-2.jpg" | resize({width: 200, height: 200}) | jpeg %}" type="image/jpeg">
                    <!--Tablet Image -->
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/why-us-2.jpg" | resize({width: 400, height: 400}) | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/why-us-2.jpg" | resize({width: 400, height: 400}) | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/why-us-2.jpg" | resize({width: 400, height: 400}) | jpeg %}" type="image/jpeg">
                    <!--Desktop Image -->
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/why-us-2.jpg" | resize({width: 400, height: 400}) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/why-us-2.jpg" | resize({width: 400, height: 400}) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/why-us-2.jpg" | resize({width: 400, height: 400}) | jpeg %}" type="image/jpeg">
                    <img src="{% getUrl "/assets/images/why-us-2.jpg" | resize({width: 400, height: 400}) | jpeg %}" alt="shop and owner" width="197" height="197" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
            </div>
        </div>
    </div>
</section>
                                
                                