---
title: 'Beauty Royal House | Beauty Salon | Ross-on-Wye'
description: "Professional beauty salon in Ross-on-Wye offering expert waxing, skincare and nail treatments in a private home setting. Free parking and ground floor access."
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>
    <link rel="stylesheet" href="/assets/css/components.css"/>
    <link rel="preload" as="image" href="{% getUrl "/assets/images/banner.jpg" | resize({width: 2560, height: 1136}) | avif %}">

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1623">
    <div class="cs-container">
        <div class="cs-content">
            
            <h1 class="cs-title">
                Expert Beauty Treatments in a Walford, Ross-on-Wye</h1>
            <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-button-solid">Book Now!</a>
            <!--Bottom Corners-->
            <div class="cs-corners" aria-hidden="true"></div>
        </div>
    </div>

    <!-- Background Image -->
     <picture class="cs-background">
     <!--Mobile Image -->
     <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero-1.jpg" | resize({width: 720, height: 1652}) | avif %}" type="image/avif">
     <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero-1.jpg" | resize({width: 720, height: 1652}) | webp %}" type="image/webp">
     <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero-1.jpg" | resize({width: 720, height: 1652}) | jpeg %}" type="image/jpeg">
     <!--Tablet Image -->
     <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hero-1.jpg" | resize({width: 2046, height: 1714}) | avif %}" type="image/avif">
     <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hero-1.jpg" | resize({width: 2046, height: 1714}) | webp %}" type="image/webp">
     <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hero-1.jpg" | resize({width: 2046, height: 1714}) | jpeg %}" type="image/jpeg">
     <!--Desktop Image -->
     <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hero-1.jpg" | resize({width: 3840, height: 2400}) | avif %}" type="image/avif">
     <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hero-1.jpg" | resize({width: 3840, height: 2400}) | webp %}" type="image/webp">
     <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hero-1.jpg" | resize({width: 3840, height: 2400}) | jpeg %}" type="image/jpeg">
     <img src="{% getUrl "/assets/images/hero-1.jpg" | resize({width: 3840, height: 2400}) | jpeg %}" alt="lady lip wax" width="1920" height="1200" loading="lazy" decoding="async" aria-hidden="true">
     </picture>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-367">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <a class="cs-link" href="/treatments/">
                    <div class="cs-icon-wrapper">
                        <img alt="icon" decoding="async" height="48" src="/assets/svgs/wax.svg" width="48" aria-hidden="true" loading="lazy" class="cs-icon cs-default">
                        <img alt="icon" decoding="async" height="48" src="/assets/svgs/wax-dark.svg" width="48" aria-hidden="true" loading="lazy" class="cs-icon cs-hover">
                        <span class="cs-bubble" aria-hidden="true"></span>
                    </div>
                    <h3 class="cs-h3">Waxing Treatments</h3>
                    <p class="cs-item-text">Professional hair removal services using premium wax for silky-smooth results that last up to six weeks.</p>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="/treatments/">
                    <div class="cs-icon-wrapper">
                        <img alt="icon" decoding="async" height="48" src="/assets/svgs/wax.svg" width="48" aria-hidden="true" loading="lazy" class="cs-icon cs-default">
                        <img alt="icon" decoding="async" height="48" src="/assets/svgs/wax-dark.svg" width="48" aria-hidden="true" loading="lazy" class="cs-icon cs-hover">
                        <span class="cs-bubble" aria-hidden="true"></span>
                    </div>
                    <h3 class="cs-h3">Gentleman's Waxing</h3>
                    <p class="cs-item-text">Specialised waxing services designed for men, focusing on back, chest, and facial areas for a groomed appearance.</p>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="/treatments/">
                    <div class="cs-icon-wrapper">
                        <img alt="icon" decoding="async" height="48" src="/assets/svgs/nail-file.svg" width="48" aria-hidden="true" loading="lazy" class="cs-icon cs-default">
                        <img alt="icon" decoding="async" height="48" src="/assets/svgs/nail-file-dark.svg" width="48" aria-hidden="true" loading="lazy" class="cs-icon cs-hover">
                        <span class="cs-bubble" aria-hidden="true"></span>
                    </div>
                    <h3 class="cs-h3">Nail Treatments</h3>
                    <p class="cs-item-text">Transform your hands and feet with expert manicures and pedicures, featuring long-lasting colour and nourishing care.</p>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="/treatments/">
                    <div class="cs-icon-wrapper">
                        <img alt="icon" decoding="async" height="48" src="/assets/svgs/cosmetics.svg" width="48" aria-hidden="true" loading="lazy" class="cs-icon cs-default">
                        <img alt="icon" decoding="async" height="48" src="/assets/svgs/cosmetics-dark.svg" width="48" aria-hidden="true" loading="lazy" class="cs-icon cs-hover">
                        <span class="cs-bubble" aria-hidden="true"></span>
                    </div>
                    <h3 class="cs-h3">Skincare Treatments</h3>
                    <p class="cs-item-text">Revitalise and refresh your complexion with customised facial treatments that target your specific skin concerns.</p>
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-945">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Long Left Image-->
            <picture class="cs-picture cs-picture1">
            <!--Mobile Image -->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/nails-1.jpg" | resize({width: 312, height: 528}) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/nails-1.jpg" | resize({width: 312, height: 528}) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/nails-1.jpg" | resize({width: 312, height: 528}) | jpeg %}" type="image/jpeg">
            <!--Tablet Image -->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/nails-1.jpg" | resize({width: 590, height: 996}) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/nails-1.jpg" | resize({width: 590, height: 996}) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/nails-1.jpg" | resize({width: 590, height: 996}) | jpeg %}" type="image/jpeg">
            <!--Desktop Image -->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/nails-1.jpg" | resize({width: 698, height: 1180}) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/nails-1.jpg" | resize({width: 698, height: 1180}) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/nails-1.jpg" | resize({width: 698, height: 1180}) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/nails-1.jpg" | resize({width: 698, height: 1180}) | jpeg %}" alt="manicure" width="349" height="590" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <!--Top right image-->
            <picture class="cs-picture cs-picture2">
            <!--Mobile Image -->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/manicure-1.jpg" | resize({width: 252, height: 348}) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/manicure-1.jpg" | resize({width: 252, height: 348}) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/manicure-1.jpg" | resize({width: 252, height: 348}) | jpeg %}" type="image/jpeg">
            <!--Tablet Image -->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/manicure-1.jpg" | resize({width: 476, height: 654}) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/manicure-1.jpg" | resize({width: 476, height: 654}) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/manicure-1.jpg" | resize({width: 476, height: 654}) | jpeg %}" type="image/jpeg">
            <!--Desktop Image -->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/manicure-1.jpg" | resize({width: 562, height: 774}) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/manicure-1.jpg" | resize({width: 562, height: 774}) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/manicure-1.jpg" | resize({width: 562, height: 774}) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/manicure-1.jpg" | resize({width: 562, height: 774}) | jpeg %}" alt="nails" width="281" height="387" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture3">
            <!--Mobile Image -->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/nails-3.jpg" | resize({width: 252, height: 252}) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/nails-3.jpg" | resize({width: 252, height: 252}) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/nails-3.jpg" | resize({width: 252, height: 252}) | jpeg %}" type="image/jpeg">
            <!--Tablet Image -->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/nails-3.jpg" | resize({width: 474, height: 472}) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/nails-3.jpg" | resize({width: 474, height: 472}) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/nails-3.jpg" | resize({width: 474, height: 472}) | jpeg %}" type="image/jpeg">
            <!--Desktop Image -->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/nails-3.jpg" | resize({width: 562, height: 560}) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/nails-3.jpg" | resize({width: 562, height: 560}) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/nails-3.jpg" | resize({width: 562, height: 560}) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/nails-3.jpg" | resize({width: 562, height: 560}) | jpeg %}" alt="nails" width="281" height="280" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <!--Seal-->
            <img class="cs-seal" loading="lazy" decoding="async" src="/assets/svgs/seal.svg" alt="seal" width="150" height="150">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Who We Are</span>
            <h2 class="cs-title">A Home Salon for Professional Beauty Care</h2>
            <p class="cs-text">
                Welcome to Beauty Royal House, a home-based salon in Ross-on-Wye where professional expertise meets personal care. With over a decade of experience in the beauty industry, we've created a peaceful retreat where clients can unwind and feel at ease. 
            </p>
            <p class="cs-text">
                Our salon provides professional beauty treatments in a private, welcoming home environment. From relaxing skincare treatments to expert nail care, we focus on delivering consistent, high-quality services in an accessible space that accommodates all clients, including those with mobility considerations. Our home-based setting offers a more personal alternative to high street salons.
            </p>
            <a href="/about/" class="cs-button-solid" aria-label="learn more about us">About Us</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--               Why Choose Us                  -->
<!-- ============================================ -->

{% include 'components/why-choose-1635.html' %}

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1636">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Featured Service</span>
                <h2 class="cs-title">Professional Waxing Services</h2>
            </div>
            <div class="cs-flex">
                <p class="cs-text">
                    Experience professional waxing treatments that leave your skin smooth for up to six weeks. We use premium wax products and maintain the highest hygiene standards for your comfort and safety. Our services cater to both women and gentlemen, with private treatment rooms and experienced care for all your waxing needs.
                </p>
                <ul id="list-893" class="cs-ul">
                    <li class="cs-li">
                        Full Body Wax
                    </li>
                    <li class="cs-li">
                        Hollywood Wax 
                    </li>
                    <li class="cs-li">
                        Classic Bikini Wax
                    </li>
                    <li class="cs-li">
                        Full Leg Wax
                    </li>
                    <li class="cs-li">
                        Half Leg Wax
                    </li>
                    <li class="cs-li">
                        Full Arm Wax
                    </li>
                    <li class="cs-li">
                        Half Arm Wax
                    </li>
                    <li class="cs-li">
                        Underarm Wax
                    </li>
                </ul>               
                <a href="{{client.onlineBooking}}" class="cs-button-solid">Book Now</a>
            </div>
        </div>  
        <picture class="cs-picture">
            <!--Mobile Image -->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/waxing.jpg" | resize({width: 576, height: 576}) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/waxing.jpg" | resize({width: 576, height: 576}) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/waxing.jpg" | resize({width: 576, height: 576}) | jpeg %}" type="image/jpeg">
            <!--Tablet Image -->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/waxing.jpg" | resize({width: 1982, height: 920}) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/waxing.jpg" | resize({width: 1982, height: 920}) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/waxing.jpg" | resize({width: 1982, height: 920}) | jpeg %}" type="image/jpeg">
            <!--Desktop Image -->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/waxing.jpg" | resize({width: 2560, height: 1240}) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/waxing.jpg" | resize({width: 2560, height: 1240}) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/waxing.jpg" | resize({width: 2560, height: 1240}) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/waxing.jpg" | resize({width: 2560, height: 1240}) | jpeg %}" alt="hot stone massage" width="1280" height="620" loading="lazy" decoding="async">
        </picture> 
    </div>
</section>

<!-- ============================================ -->
<!--             Featured Service 2               -->
<!-- ============================================ -->

<section id="sbs-r-870">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image -->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/manicure.jpg" | resize({width: 576, height: 800}) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/manicure.jpg" | resize({width: 576, height: 800}) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/manicure.jpg" | resize({width: 576, height: 800}) | jpeg %}" type="image/jpeg">
            <!--Tablet Image -->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/manicure.jpg" | resize({width: 1100, height: 1433}) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/manicure.jpg" | resize({width: 1100, height: 1433}) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/manicure.jpg" | resize({width: 1100, height: 1433}) | jpeg %}" type="image/jpeg">
            <!--Desktop Image -->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/manicure.jpg" | resize({width: 1260, height: 1550}) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/manicure.jpg" | resize({width: 1260, height: 1550}) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/manicure.jpg" | resize({width: 1260, height: 1550}) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/manicure.jpg" | resize({width: 1260, height: 1550}) | jpeg %}" alt="massage" width="630" height="775" loading="lazy" decoding="async" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Featured Service</span>
            <h2 class="cs-title">Professional Nail Care</h2>
            <p class="cs-text">
                Transform your hands and feet with our range of professional nail treatments. Each service includes careful cuticle care, precise shaping, and expert polish application. Our classic treatments are designed to both beautify and maintain nail health, while our therapeutic options offer extra relief for tired feet.
            </p>
            <ul id="list-1165" class="cs-ul">
                <li class="cs-li">Classic Manicure</li>
                <li class="cs-li">Classic Pedicure</li>
                <li class="cs-li">Mani-Pedi with Therapeutic Foot Massage</li>
                <li class="cs-li">Polish Change (Hands)</li>
                <li class="cs-li">Polish Change (Feet)</li>
            </ul>                   
            <a href="{{client.onlineBooking}}" class="cs-button-solid">Book Now</a>
        </div>
    </div>
</section>


{% endblock %}